@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=JetBrains+Mono:wght@400;500&display=swap');
@import "tailwindcss";

:root {
  --background: #0b0b0b;
  --foreground: #e8e8e8;
}

* { font-family: Inter, system-ui, sans-serif; }
.mono { font-family: 'JetBrains Mono', monospace; }

::-webkit-scrollbar { width: 5px; height: 5px; }
::-webkit-scrollbar-thumb { background: #262626; border-radius: 10px; }
::-webkit-scrollbar-track { background: transparent; }

body {
  background: #0b0b0b;
  color: #e8e8e8;
  -webkit-font-smoothing: antialiased;
}
